<section class="post">
  <div class="post-details">
    <div class="post-header">
      <a>
        <h3 post-id="{{id}}">{{post.title}}</h3>
        <p>{{format_date post.createdAt}} {{format_time post.createdAt}}</p>
      </a>
    </div>
    <div class="post-body">
      <p>{{post.post_text}}</p>
      <p class="post-username">- {{post.user.username}}</p>
    </div>
    {{#if userIdMatch}}
    <a href="/dashboard/update/{{post.id}}"><button>edit post</button></a>
    {{/if}}
  </div>
</section>
{{#each post.comments}}
<div class="comment-box">
  <div class="comment-details">
    <div class="comment-header">
      <a>
        <h4 comment-id="{{id}}">{{title}}</h4>
        <p>{{format_date createdAt}} {{format_time createdAt}}</p>
      </a>
    </div>
    <div class="comment-body">
      <p>{{comment_text}}</p>
      <p class="comment-username">- {{user.username}}</p>
    </div>
  {{#if commentUserIdMatch}}
  <a href="/update-comment/{{id}}"><button>edit comment</button></a>
  {{/if}}
  </div>
</div>
{{/each}}
<script src="../../js/post.js"></script>