<section class="user-comments">
  {{#each allComments}}
  <div class="comment-details">
    <h3 post-id="{{post.id}}"><a href="/post/{{post.id}}">{{post.title}}</a></h3>
    <h3 comment-id="{{id}}">{{title}}</h3>
    <p>By: {{user.username}}</p>
    <p>{{comment_text}}</p>
    <p>{{ format_date createdAt}} {{format_time createdAt}}</p>
  </div>
  {{/each}}
</section>